/* This file is in the repo */
/* Regular Text*/
.editor-rendered-content,
.text-block {
    color: white;
}


/* Links */
a {
    color: #fb8847;
}

*::selection {
    background-color: rgba(251, 136, 70, 0.4);
    color: white;
}


/* Header */
.editor-rendered-content h1,
.editor-rendered-content h2,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.header--16px,
.inline-input.inline-input--h1,
.inline-input.inline-input--h2,
.inline-input.inline-input--h3,
.redactor-dropdown li a.redactor-dropdown-h1,
.redactor-dropdown li a.redactor-dropdown-h2,
.redactor-styles h1,
.redactor-styles h2,
.text-block h1,
.text-block h2,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
        font-family: 'SF Pro Display', 'Helvetica Neue', sans-serif;
}

.editor-rendered-content h2, .h3, .inline-input.inline-input--h3, .redactor-dropdown li a.redactor-dropdown-h2, .redactor-styles h2, .text-block h2, h3.ui.header {
    font-weight: 400;
}

.editor-rendered-content h1, .h2, .inline-input.inline-input--h2, .redactor-dropdown li a.redactor-dropdown-h1, .redactor-styles h1, .text-block h1, h2.ui.header {
        font-family: 'SF Pro Display', 'Helvetica Neue', sans-serif;
}

/* Due Date / Subtitle */
.header__subtitle {
    color: white;
}


/* Feedback Header*/
.ui.header {
    color: white;
}

.navigation-footer {
    background-color: #232325;
}

/* Feedback Subtitle */
.ui.header .sub.header {
    color: lightgray;
}


/* Body Background */
body {
    background-color: #232325;
}


/* Search Bar */
.toolbar {
    background-color: #232325;
}


/* Assignment Title */
.card__text-primary {
    color: white;
}


/* List Due Date */
.card__meta-value {
    color: white;
}


/* Quiz Background */
.fluid-container-layout {
    background: #232325;
}

.choice-content__text {
    color: white;
}


/* Feedback */
.card.card--primary.comment-block .comment-block__details .comment-block__content {
    color: white;
}

/* Instructor name */
.comment-block__title {
    color: white;
}


/* "You completed this assignment" */
.ui.feed > .event > .content .summary {
    color: white;
}


/* Breadcrumb Back */
.discussion-link__text,
.discussion__expand-toggle,
.sub-nav__link {
    color: #fb8847;
}


/* Main Header */
.progress-bar__container {
    background-color: #1d1d1e;
    border-color: #37373a;
}


/* Circle */
.circle,
.circle-progress {
    background-color: #232325;
    color: white;
}
.circle-progress--large {
    background-color: #37373a;
}
.circle-progress__content {
    color: white;
}

.circle-progress--medium {
    background-color: #37373a;
}

.circle-progress__rail {
    stroke: none;
}
.circle-progress__bar {
    stroke: #fb7f39;
}

.circle-progress.circle-progress--completed {
    background-color: #fb7f39;
    border: 3px solid #232325;
    color: white;
}
.circles-header__circles .circles-header__circle {
    background-color: #fb7f39;
    border: 3px solid #232325;
    color: white;
}
.circle--filled.circle-progress,
.circle.circle--filled {
    border-color: #fb7f39;
    background-color: #fb7f39;
    color: white;
}


/* Tab Bar */
.fluid-container-layout__topbar {
    background-color: #232325;
    border-color: #37373a;
}

.card,
.toolbar {
    border-color: #37373a;
}

.topbar {
    background-color: #1d1d1e;
    border-color: #37373a;
}


/* Logo */
img[src="/images/logo.svg"] {
    filter: invert(.5) sepia(1) saturate(3) hue-rotate(-20deg);
}


/* Notification */
.icon.fa.fa {
    color: white;
}

.ui.left.aligned.header .content {
    color: white;
}

.progress-bar__container .progress-bar__text-calculator {
    color: #fb7f39;
}

.fa.fa-calculator {
    color: #fb7f39;
}

.re-button .fa.fa-calculator {
    color: #5c5c5c;
}

/* DropDown */
.card.card--secondary.card__columns--four.card__columns--contains-metadata {
    background-color: #37373a;
}


/* View Class Progress */
.progress-bar__closed-container {
    background-color: #232325;
    border-color: #37373a;
    color: #fb7f39;
}

.show.sticky-header {
    background-color: #1d1d1e;
    border-color: #37373a;
}

.sticky-header .sticky-header__text > .ui.basic.dropdown,
.sticky-header .sticky-header__text > a {
    color: white;
}

.topbar .topbar__action.ui.button:focus,
.topbar .topbar__action.ui.button:hover {
    background-color: #37373a;
}


/* MEssages */
.messaging-card .messaging-card__details,
.messaging-card .messaging-card__participants {
    color: white;
}

.ui.active.button,
.ui.active.button:active,
.ui.active.button:hover {
    background-color: #37373a;
    color: white;
}
.ui.button {
    background-color: #515155;
    color: white;
}
.ui.primary.button {
    background-color: #fb7f39;
    color: white;
}

.navigation-footer {
        background-color: #1d1d1e;
        border-color: #37373a;
}

.ui.list {
    color: white;
}

.badge.yellow {
        border-color: #ffda7d;
    color: #ffda7d;
    background-color: #37373a;
}

.badge.green {
        border-color: #9bff7d;
    color: #9bff7d;
    background-color: #37373a;
}

.badge.red {
        border-color: #ff7d7d;
    color: #ff7d7d;
    background-color: #37373a;
}

.ui.disabled.radio.checkbox:hover input:checked~label:before, .ui.disabled.radio.checkbox input:checked~label:before {
    background-color: #585858;
    border-color: lightgray;
}

.ui.disabled.radio.checkbox:hover input:checked~label:after, .ui.disabled.radio.checkbox input:checked~label:after {
        background-color: #585858;
    color: transparent;
}

.ui.disabled.radio.checkbox:hover input[type=radio], .ui.disabled.radio.checkbox:hover label:after, .ui.disabled.radio.checkbox:hover label:before, .ui.disabled.radio.checkbox label:after, .ui.disabled.radio.checkbox label:before {
        background-color: lightgray;
    border-color: #c4c4c4;
}

.assignment__submission-content.editor-rendered-content {
        background-color: #37373a;
    border-color:#37373a;
}

.assignment__assets:before {
    border-color: #2d2d31;
}
.submission-markup-mask {
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 65%,#232325);
}

.assignment__asset-icon {
    background-color: #232325;
}

.uploader {
    background-color: #37373a;
}
.redactor__attachments .uploader {
    background-color: #f2f2f2;
}

.panel-left, .panel-right {
        background-color: #1c1c1e;
    color: white;
        border-color: #2d2d31;
}

.panel-left__global-links {
            border-color: #2d2d31;

}


.panel-left__context .panel-links__link, .panel-left__context .panel-portal-menu__manage-section .panel-portal-menu__manage-link, .panel-portal-menu__manage-section .panel-left__context .panel-portal-menu__manage-link {
    color: lightgray;
}

.panel-links__link.active, .panel-links__link:focus, .panel-links__link:hover, .panel-portal-menu__manage-section .active.panel-portal-menu__manage-link, .panel-portal-menu__manage-section .panel-portal-menu__manage-link:focus, .panel-portal-menu__manage-section .panel-portal-menu__manage-link:hover {
        color: #fb8847;
    background-color: #232325;
}

.account-notification.messaging-card {
                border-color: #2d2d31;
    color: white;
}
.panel-scrollable-content {
            background-color: #1c1c1e;
                    border-color: #2d2d31;
color: white;
}

span.title, .panel-left__header {
    color: white !important;
}

.account-notification.messaging-card .messaging-card__participant-names {
    color: white;
}
.metadata__item, .messaging-card__timestamp {
    color: #dddddd;
}

.panel-links__link, .panel-portal-menu__manage-section .panel-portal-menu__manage-link {
        color: lightgray;
}

hr, .assignment__assessment-content {
    border-color:#37373a !important;
}

.panel-dropdown__icon, .panel-dropdown__label {
    color: #fb8847;
}

.messaging-card__content, .messaging-card__participant-names, .messaging-card__title, .messaging-card__timestamp, .message.messaging-card {
    color: white !important;
    border-color:#37373a !important;
}

.progress-bar__data-row {
    color: #bbb;
        border-color:#37373a !important;
}

.progress-bar__container .progress-bar__text-label {
        color: #bbb;
}

.fa.fa-search, .fa.fa-chevron-down, .ui.dropdown.filter .fa{
            color: #666;
}

.ui.transparent.icon.left.input>input {
    color: white;
}

.toolbar-divider {
            background-color:#37373a !important;
}

.account-circle {
    color: white;
}

.account-circle:hover {
    background-color: #37373a;
}

.message-panel .header, .notification-panel .header, .message-panel .footer, .notification-panel .footer {
            border-color:#37373a !important;
}

.profile-info, .profile-info__item {
    color: white;
                border-color:#37373a !important;
}

.profile-info .profile-info__item-header, .profile-info__office-hours {
    color: #bbb;
}

.large-text {
        color: #bbb;
}

.the-pit__no-content-message {
            color: #bbb;
}

.discussion__post.comment.comment--nested-replies {
                    border-color:#37373a !important;
}

.ui.comments .comment .author {
    color: white;
}

.ui.comments .comment .actions a, .ui.dropdown.basic {
        color: #fb8847;
}

.ui.comments .comment .metadata {
        color: #bbb;
}

.ui.dropdown .menu {
    background-color: #1d1d1e;
                border-color:#37373a !important;
}

.ui.dropdown .menu>.header {
    color: white;
}

.ui.dropdown .menu>.item {
    color: white;
}

.ui.dropdown .menu>.item:hover {
    background-color: rgba(251, 136, 71, 0.750);
}

.ui.dropdown .menu .selected.item, .ui.dropdown.selected {
                        background-color:#272729 !important;
    color: #fb8847;
}

.ui.dropdown .menu .selected.item:hover>.description {
    color: #ddd;
}

.course-about {
        color: #ddd;
}

.files-block .files__item-size {
            color: #ddd;
    font-weight: 400;
}

.topbar .topbar__account .topbar__account-links .item, .ui.dropdown .menu>.item {
        color: #fb8847;
}

.topbar .topbar__account .topbar__account-links .item:hover {
    background-color: rgba(251, 136, 71, 0.750);
}

.assignment__asset-icon, .files-block .files__item-icon, .image-placeholder, .mathjax-output, .mathjax-output-placeholder, .placeholder-general, .video-placeholder {
    background-color: #37373a;
}

.ui.dropdown .menu>.divider, .ui.dropdown .menu>.message.normal {
                border-color:#37373a !important;
}

.ui.pointing.dropdown>.menu:after {
        background-color: #1d1d1e;
    box-shadow: -1px -1px 0 1px rgba(255, 255, 255, 0.1);
}

.login {
    background-color: #232325;
}

.popover-box {
    background-color: #1d1d1e;
                border-color:#37373a !important;
}

.popover--bottom-center .popover-box:after, .popover--bottom-left .popover-box:after, .popover--bottom-right .popover-box:after, .popover--bottom-center .popover-box:before, .popover--bottom-left .popover-box:before, .popover--bottom-right .popover-box:before {
                    border-bottom-color:#37373a !important;
}


.the-pit .announcements .messaging-card:first-child, .messaging-card, .discussion-link__text {
                    border-color:#37373a !important;
}

.discussion__post-count {
    color: #fb8847;
}

.topbar .topbar__action.ui.button .notice-indicator{
        background-color: #fb8847;
    border-color:         #2d2d2d;
}

.messaging-card.messaging-card--unread {
    background-color: rgba(251, 136, 71, 0.350);
}

.tabs__item--active {
    color: #fb8847;
}

.tabs__item--active, .tabs__item--active:hover {
    border-bottom-color: #fb8847;
}

.tabs__control {
        color: #fb8847;
}

.lms-loading {
        background-color: #232325;
    
    
}

.lms-loading__text {
    font-family: 'SF Pro Display', 'Helvetica Neue', sans-serif;
    color: white;
}

.lms-loading__loader::after {
            border-color: #fb8847 transparent transparent;
}
.lms-loading__loader::before {
   border-color: #37373a;
}
